body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Unicase', serif;
    background-color: #4f4239;
}

p {
    font-family: 'Cormorant Unicase', serif;
    margin: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.collection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 100px;
}

.name-card {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    background-color: transparent;
    border: none;
    color: #1a0401d7;
}

.name-card-click{
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
    border-radius: 5px;
    background-color: #C4A484;
}

.name-card-click:hover {
    transform: translateY(-4px) scale(1.02);
}

.filter-sort {
    border-bottom: 1px solid #4f4239;
    margin-left: 130px;
    margin-top: 20px;
}

select {
    border-radius: 1px;
    border: 1px solid #1a0401d7;
    box-shadow:  0 2px 6px 0px #1a0401d7;
    background-color: transparent;
    font-size: 1rem;
    padding: 5px 50px;
    margin: 0 10px 0 10px;
    justify-content: center;
    text-align: center;
    color:#d3dec3;
    cursor: pointer;
}

option {
    background-color: #4f4239;
    color:#d3dec3;
    cursor: pointer;
}

img {
    height: 250px;
    width: 250px;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: 	#FFF5EE;
    color: #6F4E37;
}

.modal-info {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    justify-content: space-between;
}

h4 {
    margin-top: -30px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.start-button {
    background-color: #513721;
    width: 5rem;
    border-radius: 5px;
    color: #cbb19b;
    height: 2rem;
    font-family: 'Cormorant Unicase', serif;
    font-size: 1rem;
    font-weight: 700;
}

.back-button {
    background-color: #cbb19b;
    width: 5rem;
    border-radius: 5px;
    color: #513721;
    height: 2rem;
    font-family: 'Cormorant Unicase', serif;
    font-size: 1rem;
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #4f4239;
    box-shadow:  5px 6px 6px 0px #1a0401d7;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4239;
  border-radius: 10px;
  border: 3px solid transparent;
}