body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Unicase', serif;
    max-height: 100vh;
    color:#d3dec3;
}

p {
    margin: 5px;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(../assets/menu-back.png) no-repeat center / cover;
    max-height: 100vh;
    overflow-y: hidden;
}

.board-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    align-items: center;
    padding: 100px;
}

.board-card {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    height: 80%;
    border: 2px solid #4f4239;
    box-shadow: 0px 0px 20px 10px  #1a0401;
    align-items: center;
    text-align: center;
    color:#d3dec3;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.show-part {
    overflow-y: auto;
    overflow-x: hidden;
}

.step-tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 0.1rem;
    border-bottom: 2px solid #4f4239;
    box-shadow:  0px 3px 5px 0px #1a0401d7;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
}

.step-tabs:hover {
    cursor: pointer;
}

.active-tab,
.inactive-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 210px;
    border: 1px solid #4f4239;
    transition: box-shadow 0.25s ease, background 0.25s ease;
}

.active-tab {
    box-shadow:
        rgba(26, 4, 1, 0.7) 0px 12px 15px 8px,
        rgba(26, 4, 1, 0.52) 0px 2px 16px 8px;
}

.inactive-tab {
    box-shadow: none;
    background: transparent;
    opacity: 0.7;
}


.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    height: 100%;
}

.canvas-board {
    background-color: transparent;
    height: 700px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    padding: 100px;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid #4f4239;
    box-shadow: 0px 0px 20px 10px  #1a0401;
    align-items: center;
    text-align: center;
    color:#d3dec3;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
    align-items: start;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.recipe-tab h2 {
    color: #C1E1D1;
}

.ingredient-list h3 {
    color: #D1C1E1;
}

.ingredients-colors {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.steps-colors {
    display: flex;
    flex-direction: column;
}

.step-pos {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.step-text-pos {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    text-align: left;
}

.ingred-color {
    font-size: 1.5rem;
    color: #C1E1C1;
}

.amount-color {
    font-size: 1.5rem;
    color: #E1C1D1;
}

.recipe-tab h2 {
    text-align: left;
    padding: 0 100px;
}

.step-list {
    display: flex;
    flex-direction: column;
    padding: 30px 100px 10px 100px;
    align-items: start;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.step-list h3 {
    color: #D1C1E1;
}

.tab-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: -20px;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 0.1rem;
    border-bottom: 2px solid #4f4239;
    box-shadow:  0px 3px 5px 0px #1a0401d7;
}

.tab-title:hover {
    cursor: pointer;
}

.active-chat-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #4f4239;
    box-shadow:  rgba(26, 4, 1, 0.7) -10px 12px 15px 8px,
        rgba(26, 4, 1, 0.52) 0px 2px 16px 8px;
}

.active-recipe-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #4f4239;
    box-shadow:
       rgba(26, 4, 1, 0.7) 10px 0px 15px 8px,
        rgba(26, 4, 1, 0.52) 0px 2px 16px 8px;
}

.active-quizz-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #4f4239;
    box-shadow:
        rgba(26, 4, 1, 0.7) -10px 0px 15px 8px,
        rgba(26, 4, 1, 0.52) -9px 0px 16px 8px;
}

.chat-container {
    width: 950px;
    display: flex;
    flex-direction: column;
    height: 980px;
}

.messages-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    justify-content: flex-start;
    max-height: 65vh;
}

.user-message {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #4f4239;
    border-radius: 20px;
    padding: 1rem;
    align-self: end;
    box-shadow:  5px 6px 6px 0px #1a0401d7;
    max-width: 70%;
}

.agent-message {
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: left;
    border: 1px solid #4f4239;
    border-radius: 20px;
    padding: 1rem;
    box-shadow:  0 6px 6px 0px #1a0401d7;
    max-width: 70%;
}
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea {
    appearance: none;
    border: 1px solid #4f4239;
    box-shadow:  5px 6px 6px 0px #1a0401d7;
    border-radius: 15px;
    min-height: 2vh;
    max-height: 15vh;
    background-color: transparent;
    transition: height 0.2s ease;
    color:#d3dec3;
    padding: 5px 15px 0px 15px;
    width: 350px;
    outline: none;
    overflow-y: auto;
    font-size: 15px;
}

.chat-input:hover {
    transform: scale(1.05);
}

::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #4f4239;
    box-shadow:  5px 6px 6px 0px #1a0401d7;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4239;
  border-radius: 10px;
  border: 3px solid transparent;
}

.button-back {
    border-radius: 3px;
    border: 2px solid #4f4239;
    box-shadow:  5px 6px 6px 0px #1a0401d7;
    width: 70px;
    height: 30px;
    margin: 20px 0 -70px 160px;
    background-color: transparent;
}

.button {
    border-radius: 10px;
    border: 1px solid #4f4239;
    box-shadow:  5px 6px 6px 0px #1a0401d7;
    width: 50px;
    background-color: transparent;
    font-size: 1rem;
}

.button:hover {
    transform: scale(1.05);
}

.ingredients-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    align-self: flex-start;
    margin-top: 15px;
}

.ingredient-button {
    border: none;
    background-color: transparent;
    padding: 0 1rem;
}

.ingredient-button img{
    height: 90px;
    width: 90px;
    box-shadow: 0px 0px 10px 2px #1a0401d7;
}

.icon-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 100px;
    justify-content: flex-start;
    align-items: start;
    background-color: #4f4239;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    zoom: 1.02;
}

.glass-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    align-self: flex-start;
    margin-top: 120px;
    margin-left: 15px;
}

.glass-icon .ingredient-button {
    border: none;
    background-color: transparent;
    padding: 1rem 0;
}

.center-glass {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: -350px;
}

.center-glass img {
    width: 400px;
    height: 600px;
}
    
.loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}